.skill-item {
  color: var(--primary);
}

.about-me-wrapper {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.about-me-wrapper h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0 5rem 5rem;
}

.about-me-wrapper h1::after {
  margin-left: 2rem;
  content: "";
  display: block;
  width: 380px;
  height: 2px;
  background-color: var(--white);
}

.about-me-container {
  display: flex;
  margin-bottom: 10rem;
}

.about-me-text-container {
  color: var(--white);
  line-height: 1.5;
  max-width: 45%;
  margin: 1rem 1rem 0 4rem;
}

@media (max-width: 800px) {
  .about-me-wrapper h1::after {
    display: none;
  }

  .about-me-container {
    flex-direction: column-reverse;
  }

  .about-me-text-container {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .about-me-text-container,
  .about-me-wrapper h1 {
    margin-left: 1rem;
  }

  .about-me-wrapper {
    margin-bottom: 2rem;
  }
}
