.contacts-wrapper {
  margin: 5rem 0 25rem 0;
}

.contacts-wrapper h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 1rem 0 0 5rem;
}

.contacts-wrapper h1::after {
  margin-left: 2rem;
  content: "";
  display: block;
  width: 380px;
  height: 2px;
  background-color: var(--white);
}

.contacts-wrapper h2 {
  font-size: 1.5rem;
  margin: 0 0 5rem 5rem;
}

.contacts-text-container {
  margin: 5rem 0 0 5rem;
}

.contacts-text-container svg {
  width: 40px;
  stroke: var(--primary);
}

.social-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 800px) {
  .contacts-wrapper h1::after {
    display: none;
  }

  .contacts-wrapper h1,
  .contacts-wrapper h2,
  .contacts-text-container {
    margin-left: 1.25rem;
  }

  .contacts-wrapper h1 {
    font-size: 2.25rem;
  }
  .contacts-wrapper h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .contacts-wrapper {
    margin-bottom: 5rem;
  }
}
